<header id="header">
    <div class="container">
        <nav>
            <div class="logo">Her<span>AI Fellowship</span></div>
            
            <ul class="nav-links">
                <li><a href="/home" class="nav-link">Home</a></li>
                <li><a href="/about-us" class="nav-link">About Us</a></li>
                <li><a href="/curriculum" class="nav-link">Kurikulum</a></li>
                <li><a href="/projects" class="nav-link">Projects</a></li>
                
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Explore <i class="fas fa-chevron-down" style="font-size: 0.8rem; margin-left: 5px;"></i></a>
                    <div class="dropdown-content">
                        <a href="/industry-applications" class="nav-link">Industry Apps</a>
                        <a href="/announcement" class="nav-link">Announcement</a>
                        <a href="/wall-of-fame" class="nav-link">Wall of Fame</a>
                        <a href="/leaderboard" class="nav-link">Leaderboard</a>
                        <a href="/messaging" class="nav-link">Secure Chat</a>
                        <a href="/graduation" class="nav-link">Graduation</a>
                        <a href="/profile" class="nav-link" data-setting-link="participant-portal">Profil Peserta</a>
                        <a href="/competency-test" class="nav-link" data-setting-link="participant-portal">Tes Tahap 2</a>
                        <a href="/faq" class="nav-link">FAQ</a>
                    </div>
                </li>
                
                <li><a href="/choose-role" class="nav-link">Login</a></li>
                <li><a href="/register" class="btn btn-primary nav-link" style="color: white; margin-left: 15px;">Daftar Sekarang</a></li>
            </ul>

            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
</header>
